<?xml version="1.0"?>
<!-- xacro for rg2 mounted on the manipulator -->

<robot name="rg2" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="rg2" params="prefix">

    <!-- rg2 joint -->
    <joint name="rg2_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <parent link="${prefix}ee_link"/>
      <child link="${prefix}rg2_body_link"/>
    </joint>
    <link name="${prefix}rg2_body_link">
      <visual>
        <origin rpy="0 ${M_PI/2} 0" xyz="0.045 0.0 0.0015"/>
        <geometry>
          <box size="0.14 0.14 0.088"/>
        </geometry>
        <material name="White">
          <color rgba="1.0 1.0 1.0 1.0"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 ${M_PI/2} 0" xyz="0.045 0.0 0.0015"/>
        <geometry>
          <box size="0.14 0.14 0.088"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="1"/>
        <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
      </inertial>
    </link>

    <joint name="rg2_eef_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0.14 0.0 0.0"/>
      <parent link="rg2_body_link"/>
      <child link="rg2_eef_link"/>
    </joint>

    <link name="rg2_eef_link">
     <visual>
       <orgin rpy="0 0 0" xyz="0 0 0"/>
	 <geometry>
            <box size="0.12 0.115 0.044"/> 
	 </geometry>
	 <material name="White">
          <color rgba="1.0 1.0 1.0 1.0"/>
        </material>
     </visual>
     <collision>
	<geometry>
	  <box size="0.115 0.12 0.044"/> 
	</geometry>
     </collision>
    </link>

  </xacro:macro>
</robot>
