<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  
  <param unless="$(arg limited)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur3_rg2_vac_model)/urdf/ur3_rg2_arc.xacro'" />
  <param if="$(arg limited)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur3_rg2_vac_model)/urdf/ur3_rg2_arc_joint_limited.xacro'" />
</launch>
